@import "https://fonts.googleapis.com/css?family=Economica";
html,
body {
  margin: 0;
  max-width: 100%;
  height: 100%;
}

.index-container {
  margin-top: 15vh;
  margin-bottom: 10vh;
  height: 75vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
  height: 75vh;
  width: 100vw;
}
.container:hover > .section {
  -webkit-filter: brightness(22%);
          filter: brightness(22%);
}
.container:hover > .section:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.container .section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
  text-align: center;
  -ms-flex: 1;
      flex: 1;
}
.container .section .cont_title {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 37vh;
}
.container .section .cont_title h1 {
  text-transform: uppercase;
  color: #BABABA;
  font-family: 'Economica', sans-serif;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
  font-size: 3.5vw;
  margin: 0;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  vertical-align: middle;
}
.container .section .cont_title h3 {
  text-transform: uppercase;
  font-family: 'Economica', sans-serif;
  font-size: 1.3vw;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
.container .section .cont_desc {
  position: relative;
  display: block;
  text-align: center;
  width: 12vw;
  height: auto;
  margin: auto;
  opacity: 0;
  -webkit-transition: opacity 1s, padding-top 1s, -webkit-transform 1s;
  transition: opacity 1s, padding-top 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s, padding-top 1s;
  transition: opacity 1s, transform 1s, padding-top 1s, -webkit-transform 1s;
  padding-top: 6vh;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.container .section .cont_desc p {
  margin: 0;
  font-family: 'Economica', sans-serif;
  color: #BABABA;
  font-size: 16px;
}
.container .section:hover {
  -webkit-box-flex: 1.8;
      -ms-flex-positive: 1.8;
          flex-grow: 1.8;
  -webkit-transition: -webkit-box-flex 1s;
  transition: -webkit-box-flex 1s;
  transition: flex 1s;
  transition: flex 1s, -webkit-box-flex 1s, -ms-flex 1s;
}
.container .section:hover > .cont_title h1 {
  font-size: 5.3vw;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}
.container .section:hover > .cont_title h3 {
  font-size: 1.6vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.container .section:hover > .cont_desc {
  opacity: 1;
  padding-top: 2vh;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: opacity 1s, padding-top 1s, -webkit-transform 1s;
  transition: opacity 1s, padding-top 1s, -webkit-transform 1s;
  transition: opacity 1s, padding-top 1s, transform 1s;
  transition: opacity 1s, padding-top 1s, transform 1s, -webkit-transform 1s;
  -webkit-transition-delay: 0s, 1s, 0s;
          transition-delay: 0s, 1s, 0s;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
}
.container .section:nth-child(1) {
  /*background: url("https://artsandculture.withgoogle.com/gcs/national-parks-service/en-us/Asset-Kenai-desktop.jpg") center;*/
  background: url(../images/connect4.png) center;
}
.container .section:nth-child(2) {
  /*background: url("https://artsandculture.withgoogle.com/gcs/national-parks-service/en-us/Asset-Hawaii-desktop.jpg") center;*/
  background: url(../images/photo.png) center no-repeat;
  height: 100%;
  width: 100%;
}
.container .section:nth-child(3) {
  /*background: url("https://artsandculture.withgoogle.com/gcs/national-parks-service/en-us/de0b954d-ca76-41d3-ac3a-900c6bc25139.jpg") center;*/
  background: url(../images/letter.png) center;
}
.container .section:nth-child(4) {
  background: url("https://artsandculture.withgoogle.com/gcs/national-parks-service/en-us/Asset-Bryce-desktop.jpg") center;
}
.container .section:nth-child(5) {
  background: url("https://artsandculture.withgoogle.com/gcs/national-parks-service/en-us/Asset-Tortugas-desktop.jpg") center;
}
