.projectTitle {
  margin-top: -10px;
}
.projectTitle a {
  font-family: 'Nixie One', cursive;
}
.portfolio-connect4 {
  background: url(../images/connect4.png) center right no-repeat;
  display: inline-block;
  height: 35rem;
  width: 35rem;
  border-radius: 0.2rem;
  background-size: 100%;
  margin-left: -10px;
  margin-top: -30px;
  background-position-x: center;
}
.portfolio-movies {
  background: url(../images/movies.png) center right no-repeat;
  display: inline-block;
  height: 35rem;
  width: 35rem;
  border-radius: 0.2rem;
  background-size: 100%;
  margin-left: -3px;
  margin-top: -30px;
  background-position-x: center;
}
.portfolio-police {
  background: url(../images/police.png) center center no-repeat;
  display: inline-block;
  height: 40rem;
  width: 50rem;
  border-radius: 0.2rem;
}
.polariod-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.projects {
  background-position-x: center;
}
