.container-container {
  /*display: inline-flex;*/
}
/*.polariod-contrainer {
  margin: 0;
}*/
.projectOutlineBlock {
  display: block;
  margin-left: 25%;
}
/*.polariod-top {
  background-color: #E8E8E8;
  position: left;
  border: 2px solid black;
  display: block;
  margin: 1rem auto 1rem auto;
  width: 29rem;
  display: inline-block;
}*/
.polariod-top {
  background: url(../images/polariod-frame.png) center left no-repeat;
  display: inline-block;
}
.polariod-frame {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  /*margin-bottom: 5rem;*/
  /*background-color: rgba(0, 0, 0, 0.66);*/
  color: white;
  height: 500px;
}
.polariod-bottom {
  height: 5rem;
  background-color: #E8E8E8;
}
.projectTitle {
  margin: 0;
  margin-left: 55px;
  margin-top: -25px;
}
.projectDesc {
  display: inline-block;
  width: 30%;
  margin: auto 0 auto 2rem;
}










.portfolio-connect4 {
  background: url(../images/connect4.png) center right no-repeat;
  /*background-size: contain;*/
  display: inline-block;
  /*float: right;*/
  height: 25rem;
  width: 23.5rem;
  border-radius: 0.2rem;
  background-size: 100%;
  margin-left: 55px;
  margin-top: 20px;
  background-position-x: center;
  /*width: 100%;*/
}
.portfolio-movies {
  background: url(../images/movies.png) center right no-repeat;
  /*background-size: contain;*/
  display: inline-block;
  /*float: right;*/
  height: 25rem;
  width: 23rem;
  border-radius: 0.2rem;
  background-size: 100%;
  margin-left: 61px;
  margin-top: 20px;
  background-position-x: center;
  /*width: 100%;*/
}
.portfolio-police {
  background: url(../images/police.png) center right no-repeat;
  /*background-size: contain;*/
  display: inline-block;
  /*float: right;*/
  height: 25rem;
  width: 23rem;
  border-radius: 0.2rem;
  background-size: 100%;
  margin-left: 61px;
  margin-top: 20px;
  background-position-x: center;
  /*width: 100%;*/
}
