* {
  font-family: "AvenirLTStd-Medium", clean, sans-serif;
}
body {
  background-color: #D1D1D1;
}
button {
  color: white;
  font-size: 2rem;
  margin: 1rem;
}
.text {
  font-size: 1rem;
}
a {
  color: black;
}
.text-white {
  color: white;
}
li {
  list-style: none;
}
h2 {
  font-size: 2.8rem;
}
a:hover {
 cursor:pointer;
}
