<section ng-init="port.navActive = false" class="aboutPage">
  <h1 class="aboutTitle">About</h1>
  <p class="aboutDesc">{{port.aboutData[0].desc}}</p>
  <div class="linkDiv">
    <div class="linkDivTitle">
      <a class="githubIconLink aboutLink" href="{{port.aboutData[0].githubLink}}" target="_blank"></a>
      <p class="linkDivName"><a href="{{port.aboutData[0].githubLink}}" target="_blank">GitHub</a></p>
    </div>
    <div class="linkDivTitle">
      <a class="emailLink aboutLink" href="mailto:{{port.aboutData[0].email}}" target="_blank"></a>
      <p class="linkDivName"><a href="mailto:{{port.aboutData[0].email}}" target="_blank">Email</a></p>
    </div>
    <div class="linkDivTitle">
      <a class="cvLink aboutLink" href="../../images/cv.pdf" target="_blank"></a>
      <p class="linkDivName"><a href="../../images/cv.pdf" target="_blank">CV</a></p>
    </div>
    <div class="linkDivTitle">
      <a class="linkedInLink aboutLink" href="{{port.aboutData[0].linkedin}}" target="_blank"></a>
      <p class="linkDivName"><a href="{{port.aboutData[0].linkedin}}" target="_blank">LinkedIn</a></p>
    </div>
  </div>
  <h4>Skills</h4>
  <div class="aboutSkillsRepeat">
    <ul class="aboutSkillsUl">
      <li ng-repeat="s in port.aboutData[0].skills" class="aboutSkillsImageText">
        <p class="aboutSkills aboutLink" ng-class="s"></p>
        <p class="linkDivName"><a>{{s}}</a></p>
      </li>
    </ul>
  </div>
</section>
