<section class="projectSection">
  <div class="backArrowTitle">
    <a class="backArrow" ui-sref="project"></a>
    <h1 class="projectHeading">{{port.portfolioData[0].title}}</h1>
  </div>
  <p ng-class="port.portfolioData[0].titleName"></p>
  <p class="projectDesc">{{port.portfolioData[0].desc}}</p>
  <div class="linkDiv">
    <div class="featureLink">
      <a class="herokuLink" href="{{port.portfolioData[0].link}}" target="_blank"></a>
      <a  href="{{port.portfolioData[0].link}}" target="_blank">Click to view project</a>
    </div>
    <div class="featureLink">
      <a class="githubLink" href="{{port.portfolioData[0].githubLink}}" target="_blank"></a>
      <a href="{{port.portfolioData[0].githubLink}}" target="_blank">Click to view code</a>
    </div>
  </div>
</section>
