<section class="container-container">
  <div ng-repeat="project in port.portfolioData" class="polariod-container">
    <div class="projectOutlineBlock">
      <div class="polariod-top">
        <div class="polariod-frame">
          <div class="{{project.titleName}}"></div>
          <div class="polariod-bottom">
            <h1 class="projectTitle">
              <a href="{{project.link}}" target="_blank">{{project.polariodName}}</a>
            </h1>
          </div>
        </div>
      </div>
      <p class="projectDesc">{{project.desc}}</p>
    </div>
  </div>
</section>
